extends layout

block content
  header
    #header
      #title
        a(href='/?ref=logo', target='_self')
          h1 #{title}
      #search-box
        input(type="text", placeholder="#{__('Search events')}")
      nav
        select
          option #{__('All events')}
          option #{__('My events')}
          option #{__('Event map')}
  main
    aside#controls
      div.content
        section#profile
          img(src=user.profilePicture)
          h1 #{user.firstName} #{user.lastName}
        section#type-filter
          ul
            li.all #{__('All')}
            li.con #{__('Concerts')}
            li.par #{__('Partys')}
            li.cul #{__('Cultural')}
            li.div #{__('Diverse')}
        section#time-finder
          ul
            li #{__('upcoming')}
            li #{__('tomorrow')}
            li #{__('today')}
            li #{__('past')}
    section#view
      section#list
        .event
          .event-image
          .event-data
          .event-controls
        .event
          .event-image
          .event-data
          .event-controls
        .event
          .event-image
          .event-data
          .event-controls
        .event
          .event-image
          .event-data
          .event-controls
        .event
          .event-image
          .event-data
          .event-controls
        .event
          .event-image
          .event-data
          .event-controls
        .event
          .event-image
          .event-data
          .event-controls
        .event
          .event-image
          .event-data
          .event-controls
      section#media