extends layout

block head
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/exif.js")
    script(src="/javascripts/application.js")

block content
  header
    #title
      //a(href="/?ref=logo", target="_self")
      a(href="/", target="_self")
        h1 #{title}
  //main#main
  main
    //section#post-list
      p.post(ng-repeat="usuario in usuario")
        span.amigo-firstName {{ usuario.firstName }} {{ usuario.following }}
        input(type='submit', value='Seguir' ng-click="followRelation(usuario)")
      input(type='submit', value='Followers' ng-click="getFollowers(1)")
      input(type='submit', value='Following' ng-click="getFollowers(2)")
      a.mostrarPostDeSeguidos(href='#' ng-click="getMediaByFilter('post', 'following')")
        span.seguidos MostrarPostsDeLasPersonasQueSigues
    //label(for='singleSelect')
    //br
    //select#singleSelect(name='singleSelect', ng-model='data.singleSelect')
      option(value='') ---Please select---
      option(value='en') ingles
      option(value='es') español
    //br
    //button(ng-click='changeLanguage(data.singleSelect)') Cambiar idioma
    #wrapper
      aside#first
        section#people-side
          section#people-controls
            section#profile
              img(src=user.profilePicture)
              h2.profile-name
                span.profile-firstname #{user.firstName}
                br
                span.profile-lastname #{user.lastName}
            //section#friends
            //  .friend #{__('Friend activity')}
      section#view
        //input(type="file" id="media-loader" accept="image/*" onchange="angular.element($('body')).scope().picChange(event)")
        //input(type="file" accept="image/*" capture="camera" onchange="angular.element(this).scope().newPost.image = this.files[0]")
        input(type="file" id="media-loader" accept="image/*" onchange="angular.element($('body')).scope().picChange(event)")
        section#new-post
          canvas(id="new-media-preview")
          #recomendedEvents
            ul
              li @Aura
              li @Kaos
              li @Help
          #createNewEvent
            input(type="text" id="new-event-name" ng-model="newPost.eventName")
            #fbButton(ng-click="shareOnfB()")
          #positionMap
            img(src="")
          #load-media-again
          #cancel-post
          #send-post(ng-click="send()")
        section#view-controls
        section#post-list
          //p.post(ng-repeat="usuario in usuarios")
          //  span.amigo-firstName(ng-click="addListToFollow(usuario)") {{ usuario.name }}
          //input(type='submit', value='Submit' ng-click="setFollowRelation()") 
          .post(ng-repeat="post in posts" last-post-loaded)
            .media
              .preloader
              img(src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
              img(ng-src='{{ post.media }}' class='{{ post.class }}' image-on-load).media
              //img(ng-src='http://maps.googleapis.com/maps/api/staticmap?zoom=15&size=500x200&markers=color:red|{{ post.location.latitude }},{{ post.location.longitude }}')
            .bottom
              .info
                .info-wrapper
                  .author-img
                    img(ng-src='{{ post.author.picture }}')
                  .post-detail
                    .post-title
                      span.author-name
                        //span.author-firstName {{ post.author.firstName }}
                        a.author-firstName(href='#' ng-click="getMediaByFilter('post', 'author', post.id)") {{ post.author.firstName }}
                        span.author-lastName  {{ post.author.lastName }}
                      a.event-posted(href='#' ng-if="post.event" ng-click="getMediaByFilter('post', 'event', post.id)")
                        span.at-simbol @
                        //span.event-name {{ post.event }}
                        span.event-name() {{ post.event }}
                      //a.shareOnFb(href='#' ng-click="share(post.file)")
                        span.share compartirEnfB
                      //.enviarUbicacion
                        a#enviar(href='#' ng-click="askLocation(post.id)") #{__('Pedir ubicación')}
                    .sub-info
                      .time(ng-if="post.timeElapsed.type  == 's' ") #{__('Just now')}
                      .time(ng-if="post.timeElapsed.type  == 'm' ") {{ post.timeElapsed.val }} #{__('min')}
                      .time(ng-if="post.timeElapsed.type  == 'h' ") {{ post.timeElapsed.val }} #{__('h')}
                      .time(ng-if="post.timeElapsed.type  == 'd' ") {{ post.timeElapsed.val | date:"EEE d MMM '#{__('at')}' H:mm" | capitalize}}
                      //.separator ·
                      //.friends 24 #{__('friends')}
              .like(ng-click="likeClick(post)")
                object(ng-class="{selected: post.like}")
                  svg(version="1.1" class="like-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve")
                    path(fill="#D0D0D7" d="M29.3,15.8l-3.6,2.1l-4.4-2.5c-2.1-1.2-4.7-1.2-6.9,0L13.6,16c-2.2,1.2-3.6,3.6-3.6,6.2v0.5 c0,2.5,1.4,4.9,3.5,6.1L25,35.4l11.5-6.7c2.1-1.3,3.5-3.6,3.5-6.1v-0.8c0-2.4-1.3-4.7-3.3-6l0,0C34.4,14.5,31.6,14.4,29.3,15.8z")#inner
      aside#second
        section#events-side
          section#events-controls
            //.search-box // Moverlo a header
            //  input(type="text", placeholder="#{__('Search events')}") 
            .promoted
              .promoted-title.title #{__('Promoted')}
              .event.promoted-event
                .event-name.promoted-event-name @Aura
                .event-people.promoted-event-people 1280 #{__('people')}
            .events-list
              .events-title.title #{__('Trends')}
              .event(ng-repeat="event in events | limitTo: limit")
                a.event-name(href='#' ng-click="getMediaByFilter('post', 'trend', event.id)")
                  span.at-simbol @
                  span.event-name {{ event.name }}
                .event-people {{ event.count }} #{__('people')}
            .show-more
              a#load-more(href='#' ng-click="showMoreEvents(limit)") #{__('Show more')}
          footer 
            nav Términos y condiciones · Más
            #brand Juaku © 2015
  //main#blurred-back
  section#float-controls
    .button.first
      #btn-options.ico
    .button
      #btn-media.ico
    .button
      #btn-camera.ico
    .button
      #btn-events.ico
    .button.last
      #btn-search.ico
    //#main-controls
    //.button.hot #{__('')}
    //.button.control-switch
    //  .knob
    //.button.recent #{__('')}
