extends layout

block head
    body(id="controller" ng-controller="Application")

block content
  header
  #box
    aside#side
      //
      // Side controls
      //
      section#view-controls
        #back.more
        input(type="search" size="1" ng-model="search" search)#title
        #take.needsclick
      section#account
        a.user-link
          img(src=user.picture).user-picture
        span.user-firstname #{user.name.givenName}
        span.user-lastname #{user.name.familyName}
        #account-controls
          a(href="" onclick="window.location = '/logout' ") logout
        section#events-side
          section#events-controls
            .promoted
              .event.promoted-event
                span.at-simbol @
                span.event-name.promoted-event-name Aura
                //.event-people.promoted-event-people 1280 #{__('people')}
                .promoted-title.title #{__('Promoted')}
            .events-list
              //.events-title.title #{__('Trends')}
              .event(ng-repeat="trend in trends | limitTo: limit")
                a.event-link(href='')
                  span.at-simbol @
                  span.event-name {{ trend.name }}
                //.event-people {{ trend.count }} #{__('people')}
            //.show-more
              a#load-more(href='#' ng-click="showMoreEvents(limit)") #{__('Show more')}
          footer 
            nav Términos y condiciones | Prensa
            #brand Juaku 2016
    main
      section#start
        a#logo-link(target="_self")
          h1 Juaku
          svg#logo
            use#logo-icon(xlink:href="#logo-icon-svg")
      input(type="file" id="media-loader" accept="image/*" onchange="angular.element($('body')).scope().picChange(event)")
      // Legacy: input(type="file" id="media-loader" accept="image/*" onchange="angular.element($('body')).scope().picChange(event)")
      // Legacy: input(type="file" accept="image/*" capture="camera" onchange="angular.element(this).scope().newAction.image = this.files[0]")
      section#new-post
        canvas(id="new-media-preview")
        #new-post-controls
          #event-name-input.event
            span.at-simbol @
            input.event-name(type="text" id="new-tag-name" ng-model="newAction.tag" placeholder="#{__('Event')}")

          //
          // Share on Facebook
          //
          #share-new-post
            a#share-fb.share(href="" ng-click="shareOnFb()")
              object
                svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve")
                  path(id="change-color" fill="#3B5998"  d="M22.675,24C23.407,24,24,23.407,24,22.675V1.325C24,0.593,23.407,0,22.675,0H1.325C0.593,0,0,0.593,0,1.325v21.351C0,23.407,0.593,24,1.325,24H22.675z")
                  path(id="f" fill="#FFFFFF" d="M16.56,24v-9.294h3.12l0.467-3.622H16.56V8.771c0-1.049,0.291-1.763,1.795-1.763l1.918-0.001v-3.24c-0.332-0.044-1.47-0.1439-2.75-0.143c-2.765,0-4.659,1.688-4.659,4.788v2.671H9.692v3.622h3.128V24H16.56z")
          a#send-post(href="" ng-click="sendNewAction()") #{__('Send')}

      //
      // Post
      //
      article(ng-repeat="action in actions" last-post-loaded).action
        .media
          .preloader
          img(ng-src='{{ action.media }}' class='{{ action.class }}' image-on-load)
        .info
          .author-picture
            img(ng-src="{{ action.author.picture }}" ng-click="action.showTools = !action.showTools")
          .action-info
            h3.action-title(ng-hide="action.showTools")
              span(hex-code="{{ action.author.hexCode }}" ng-click="router(action.author.url + '@' + action.tag)").author-hex-code
              span(href='' ng-click="router(action.author.hexCode + '.' + action.author.firstName)").author-name {{ action.author.firstName }}
              span.at @
              span(ng-hide="action.editing" href='' ng-model="newTag" ng-click="router('@' + action.tag)") {{action.tag}}
              span(ng-show="action.editing")
                input.event-name(type="text", ng-model="action.tag")
            span.action-time(ng-if="action.timeElapsed.type  == 's' " ng-hide="action.showTools") #{__('Just now')}
            span.action-time(ng-if="action.timeElapsed.type  == 'm' " ng-hide="action.showTools") {{ action.timeElapsed.val }} #{__('min')}
            span.action-time(ng-if="action.timeElapsed.type  == 'h' " ng-hide="action.showTools") {{ action.timeElapsed.val }} #{__('h')}
            span.action-time(ng-if="action.timeElapsed.type  == 'd' " ng-hide="action.showTools") {{ action.timeElapsed.val | date:"EEE d MMM '#{__('at')}' H:mm" | capitalize}}
            .action-tools(ng-show="action.showTools")
              span(href='' ng-if="action.edittable" ng-click="deleteAction(action)").delete #{__('Borrar')}
              button(ng-if="action.edittable" ng-hide="action.editing" ng-click="modifyTag(action)") #{__('Modificar TAG')}
              button(ng-if="action.edittable" ng-show="action.editing" ng-click="updateTag(action)") #{__('Actualizar TAG')}
          .save-button
            a(ng-click="saveClick(action)" ng-class="{ selected: action.saved }").save-link
              img(src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==').save

  //
  //  Librería SVG
  //
  svg#svg-library(xmlns='http://www.w3.org/2000/svg')
    symbol#logo-icon-svg(viewBox='0 0 67 90')
      polygon(fill='#FF0055' points='44.538,0 22.269,12.857 22.269,38.571 0,51.429 0,77.143 22.269,90 66.808,64.286 66.808,12.857')

  //
  //  Flotante
  //
  script(type='text/javascript').
    var url = '#{url}'
    var reqType = '#{reqType}'
    var token = '#{token}'
  script(src="/javascripts/application.js")
