extends layout

block content
  header
    #title
      //a(href="/?ref=logo", target="_self")
      a(href="/", target="_self")
        h1 #{title}
  main
    aside#first
      section#people-side
        section#people-controls
          section#profile
            img(src=user.profilePicture)
            h2.profile-name
              span.profile-firstname #{user.firstName}
              br
              span.profile-lastname #{user.lastName}
          section#friends
            .friend #{__('Friend activity')}
    section#view
      section#view-wrapper
        section#new-post
          //input(type="file" accept="image/*" capture="camera" onchange="angular.element(this).scope().newPost.image = this.files[0]")
          input(type="file" id="media-loader" accept="image/*" onchange="picChange(event)")
          canvas(id="new-media-preview")
          #recomendedEvents
            ul
              li @Aura
              li @Kaos
              li @Help
          #createNewEvent
            input(type="text" id="new-event-name" ng-model="newPost.eventName")
          #load-media-again
          #cancel-post
          #send-post(ng-click="send()")
        section#view-controls
        section#post-list
          .post(ng-repeat="post in posts")
            .media
              img(src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
              img(ng-src='{{ post.media }}').media
            .info
              .author-img
                img(ng-src='{{ post.author.picture }}')
              .post-detail
                .post-data
                  .author-name.pri {{ post.author.firstName }} {{ post.author.lastName }}
                  .time.sub(ng-if="post.timeElapsed.type  == 's' ") #{__('Less than a minute ago')} 
                  .time.sub(ng-if="post.timeElapsed.type  == 'm' ") {{ post.timeElapsed.val }} #{__('min')}
                  .time.sub(ng-if="post.timeElapsed.type  == 'h' ") {{ post.timeElapsed.val }} #{__('h')}
                  .time.sub(ng-if="post.timeElapsed.type  == 'd' ") {{ post.timeElapsed.val | date:"EEE d MMM '#{__('at')}' H:mm"}}
                .event-data
                  .event-name.pri(ng-if="post.event") @{{ post.event }}
                  .friends.sub 24 #{__('friends')}
    aside#second
      section#events-side
        section#events-controls
          .search-box
            input(type="text", placeholder="#{__('Search events')}") 
          .promoted
            .promoted-title #{__('Promoted')}
            .event.promoted-event
              .event-name.promoted-event-name @Aura
              .event-people.promoted-event-people 1280 #{__('people')}
            .event.promoted-event
              .event-name.promoted-event-name @Aura
              .event-people.promoted-event-people 1280 #{__('people')}
          .events-list
            .event
              .event-name @Kaos
              .event-people 1920 #{__('people')}
            .event
              .event-name.small @JardinDeLaCervezaArequipeña
              .event-people 1280 #{__('people')}
            .event
              .event-name @Manutara
              .event-people 1024 #{__('people')}
          .show-more #{__('Show more')}
        footer 
          nav Términos y condiciones · Más
          #brand Juaku © 2014
  section#float-controls
    #main-controls
      .button.hot #{__('Hot')}
      .button.control-switch
        .knob
      .button.recent #{__('Recent')}
      #camera


