extends layout

block content
  header
    #header
      #title
        a(href='/?ref=logo', target='_self')
          h1 #{title}
      #search-box
        input(type="text", placeholder="#{__('Search events')}")
      nav#select-block
        div#select
          div#current #{__('All events')}
          div#options
            ul
              li #{__('All events')}
              li #{__('My events')}
              li #{__('Events map')}
      nav#main-menu
          ul
            li #{__('New event')}
  main
    aside#controls
      div.content
        section#profile
          img(src=user.profilePicture)
          h1 #{user.firstName} #{user.lastName}
        section#type-filter
          ul
            li.all #{__('All')}
            li.con #{__('Concerts')}
            li.par #{__('Parties')}
            li.cul #{__('Cultural')}
            li.div #{__('Diverse')}
        section#time-finder
          ul
            li #{__('upcoming')}
            li #{__('tomorrow')}
            li #{__('today')}
            li #{__('past')}
    section#list
      .event(ng-repeat='(key,event) in events')
        .event-image
        .event-data
          .events-data-name {{event.name}}
          .events-data-attendance {{event.attendance}}
        .event-controls
    section#views
      section#media.view
      section#new-event.view.hidden