extends layout

block content
  header
    #title
      a(href="/?ref=logo", target="_self")
        h1 #{title}
  main
    aside#controls
      section#profile
        img(src=user.profilePicture)
        h2.profile-name
          span.profile-firstname #{user.firstName}
          br
          span.profile-lastname #{user.lastName}
      section#friends
        div.friend Actividad de amigo
    section#view
      section#view-controls
      section#list
        div.post
          div.image
            img
          div.info
            div.author-image
              img(src=user.profilePicture)
            div.post-data
              div.author-name.pri Rodrigo Yrigoyen Gonzales
              div.time.sub A las 14:51 p.m.
            div.event-data
              div.event-name.pri @Kaos
              div.friends.sub 24 amigos
        div.post
          div.image
            img
          div.info
            div.author-image
              img(src=user.profilePicture)
            div.post-data
              div.author-name.pri Rodrigo Yrigoyen Gonzales
              div.time.sub A las 14:51 p.m.
            div.event-data
              div.event-name.pri @Kaos
              div.friends.sub 24 amigos
        div.post
          div.image
            img
          div.info
            div.author-image
              img(src=user.profilePicture)
            div.post-data
              div.author-name.pri Rodrigo Yrigoyen Gonzales
              div.time.sub A las 14:51 p.m.
            div.event-data
              div.event-name.pri @Kaos
              div.friends.sub 24 amigos
    aside#events
      section#events-controls
        div.search-box
          input(type="text", placeholder="#{__('Search events')}") 
        div.promoted
          div.promoted-title #{__('Promoted')}
          div.event.promoted-event
            div.event-name.promoted-event-name @Aura
            div.event-people.promoted-event-people 1280 #{__('people')}
          div.event.promoted-event
            div.event-name.promoted-event-name @Aura
            div.event-people.promoted-event-people 1280 #{__('people')}
        div.events-list
          div.event
            div.event-name @Kaos
            div.event-people 1920 #{__('people')}
          div.event
            div.event-name.small @JardinDeLaCervezaArequipeña
            div.event-people 1280 #{__('people')}
          div.event
            div.event-name @Manutara
            div.event-people 1024 #{__('people')}
        div.show-more #{__('Show more')}
      footer 
        nav Términos y condiciones · Más
        div#brand Juaku © 2014
  section#float-footer
    div#main-controls
      div.button.hot #{__('Hot')}
      div.button.control-switch
        div.knob
      div.button.recent #{__('Recent')}
