extends layout

block head
    body(id="controller" ng-controller="Application")

block content
  header
  #box
    aside#side
      //
      // Side controls
      //
      section#view-controls
        #back
        input(type="search" size="1" ng-model="search" search)#title
        #take
      section#account
        a.user-link
          img(src=user.picture).user-picture
        span.user-firstname #{user.name.givenName}
        span.user-lastname #{user.name.familyName}
        #account-controls
          a(href="" onclick="window.location = '/logout' ") logout
              
            //- section#user-relation.side-block.viewing-followers
            //-   #relation-tabs
            //-     #followers-tab.relation-tab(viewing='followers')
            //-       .people-number {{ user.followers.length }}
            //-       .follow-type Seguidores
            //-     #following-tab.relation-tab(viewing='following')
            //-       .people-number {{ user.following.length }}
            //-       .follow-type Siguiendo
            //-   #relation-views
            //-     ul#followers.relation-view
            //-       li(ng-repeat="follower in user.followers")
            //-         .user-picture
            //-           img.picture(ng-src="{{ follower.picture }}")
            //-         .user-info
            //-           .user-firstName {{ follower.firstName}}
            //-           .user-lastName {{ follower.lastName }}
            //-           .user-followerNumber {{ follower.followersNumber }} 64 #{__('Followers')}
            //-         .user-relation.like(ng-click="likeClick(post)")
            //-           object(ng-class="{selected: post.like}")
            //-             svg(version="1.1" class="like-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve")
            //-               // fill="#DDD" 
            //-               path(d="M29.3,15.8l-3.6,2.1l-4.4-2.5c-2.1-1.2-4.7-1.2-6.9,0L13.6,16c-2.2,1.2-3.6,3.6-3.6,6.2v0.5 c0,2.5,1.4,4.9,3.5,6.1L25,35.4l11.5-6.7c2.1-1.3,3.5-3.6,3.5-6.1v-0.8c0-2.4-1.3-4.7-3.3-6l0,0C34.4,14.5,31.6,14.4,29.3,15.8z")#inner
            //-     ul#following.relation-view
            //-       li(ng-repeat="followed in user.following")
            //-         .user-picture
            //-           img.picture(ng-src="{{ followed.picture }}")
            //-         .user-info
            //-           .user-firstName {{ followed.firstName }}
            //-           .user-lastName {{ followed.lastName }}
            //-           .user-followerNumber {{ follower.followersNumber }} 64 #{__('Followers')}
            //-         .user-relation.like(ng-click="likeClick(post)")
            //-           object(ng-class="{selected: post.like}")
            //-             svg(version="1.1" class="like-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve")
            //-               // fill="#DDD" 
            //-               path(d="M29.3,15.8l-3.6,2.1l-4.4-2.5c-2.1-1.2-4.7-1.2-6.9,0L13.6,16c-2.2,1.2-3.6,3.6-3.6,6.2v0.5 c0,2.5,1.4,4.9,3.5,6.1L25,35.4l11.5-6.7c2.1-1.3,3.5-3.6,3.5-6.1v-0.8c0-2.4-1.3-4.7-3.3-6l0,0C34.4,14.5,31.6,14.4,29.3,15.8z")#inner
            

            //(ng-repeat="usuario in usuarios")
            //{{ usuario.firstName }} {{ usuario.following }}
            //(type='submit', value='Seguir' ng-click="followRelation(usuario)")
            //(type='submit', value='Followers' ng-click="getFollowers(1)")
            //(type='submit', value='Following' ng-click="getFollowers(2)")
            //(href='' ng-click="getMediaByFilter('post', 'following')")
            
            // {__('Blocked accounts')}

            // (ng-click='changeLanguage(data.singleSelect)')
            // #{__('Language')}

            //label(for='singleSelect')
            // select#singleSelect(name='singleSelect', ng-model='data.singleSelect')s
            //  option(value='') ---Please select---
            //  option(value='en') ingles
            //  option(value='es') español

            //(href="/logout") #{__('Logout')}

        section#events-side
          section#events-controls
            .promoted
              .event.promoted-event
                span.at-simbol @
                span.event-name.promoted-event-name Aura
                //.event-people.promoted-event-people 1280 #{__('people')}
                .promoted-title.title #{__('Promoted')}
            .events-list
              //.events-title.title #{__('Trends')}
              .event(ng-repeat="trend in trends | limitTo: limit")
                a.event-link(href='' ng-click="getMediaByFilter('trend', trend)")
                  span.at-simbol @
                  span.event-name {{ trend.name }}
                //.event-people {{ trend.count }} #{__('people')}
            //.show-more
              a#load-more(href='#' ng-click="showMoreEvents(limit)") #{__('Show more')}
          footer 
            nav Términos y condiciones | Prensa
            #brand Juaku 2016
    main
      section#start
        a#logo-link(target="_self" onclick="document.location = '/';")
          h1 Juaku
          svg#logo
            use#logo-icon(xlink:href="#logo-icon-svg")
      input(type="file" id="media-loader" accept="image/*" onchange="angular.element($('body')).scope().picChange(event)")
      // Legacy: input(type="file" id="media-loader" accept="image/*" onchange="angular.element($('body')).scope().picChange(event)")
      // Legacy: input(type="file" accept="image/*" capture="camera" onchange="angular.element(this).scope().newPost.image = this.files[0]")
      section#new-post
        canvas(id="new-media-preview")
        #new-post-controls
          #event-name-input.event
            span.at-simbol @
            input.event-name(type="text" id="new-event-name" ng-model="newPost.eventName" placeholder="#{__('Event')}")


          //
          // Share on Facebook
          //
          #share-new-post
            a#share-fb.share(href="" ng-click="shareOnFb()")
              object
                svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve")
                  path(id="change-color" fill="#3B5998"  d="M22.675,24C23.407,24,24,23.407,24,22.675V1.325C24,0.593,23.407,0,22.675,0H1.325C0.593,0,0,0.593,0,1.325v21.351C0,23.407,0.593,24,1.325,24H22.675z")
                  path(id="f" fill="#FFFFFF" d="M16.56,24v-9.294h3.12l0.467-3.622H16.56V8.771c0-1.049,0.291-1.763,1.795-1.763l1.918-0.001v-3.24c-0.332-0.044-1.47-0.1439-2.75-0.143c-2.765,0-4.659,1.688-4.659,4.788v2.671H9.692v3.622h3.128V24H16.56z")
          a#send-post(href="" ng-click="sendNewPost()") #{__('Send')}


      //
      // Post
      //-
      //-
      article(ng-repeat="post in posts" last-post-loaded).action
        .media
          .preloader
          img(ng-src='{{ post.media }}' class='{{ post.class }}' image-on-load)
        .info
          .author-picture
            //a(rel="author").author-link
            img(ng-src="{{ post.author.picture }}" ng-click="getMediaByFilter('author', post)")
          .action-info
            h3.action-title
              span(hex-code="{{ post.author.hexCode }}" ng-click="getMediaByFilter('channel', post)").author-hex-code
              span(href='' ng-click="getMediaByFilter('author', post.author)").author-name {{ post.author.firstName }}
              span.at @
              span(href='' ng-if="post.tag" ng-click="getMediaByFilter('tag', post)").tag-name {{ post.tag }}
            span.action-time(ng-if="post.timeElapsed.type  == 's' ") #{__('Just now')}
            span.action-time(ng-if="post.timeElapsed.type  == 'm' ") {{ post.timeElapsed.val }} #{__('min')}
            span.action-time(ng-if="post.timeElapsed.type  == 'h' ") {{ post.timeElapsed.val }} #{__('h')}
            span.action-time(ng-if="post.timeElapsed.type  == 'd' ") {{ post.timeElapsed.val | date:"EEE d MMM '#{__('at')}' H:mm" | capitalize}}
            span(href='' ng-if="post.edittable" ng-click="deleteAction(post)").delete #{__('Borrar')}
          .save-button
            a(ng-click="saveClick(post)" ng-class="{ selected: post.saved }").save-link
              img(src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==').save

      //- article(ng-repeat="post in posts" last-post-loaded)
      //-   img(ng-src='{{ post.media }}' class='{{ post.class }}' image-on-load)
      //-   img(ng-src='{{ post.author.picture }}')
      //-   a(href='' ng-click="getMediaByFilter('author', post)") {{ post.author.firstName }}
      //-   a {{ post.author.lastName }}
      //-   a(href='' ng-if="post.event" ng-click="getMediaByFilter('tag', post)")         
      //-   a {{ post.event }}
      //-   //a ng-click="reportAction(post)"
      //-   //a ng-click="shareActionOnFb(post)"
      //-   //a .enviarUbicacion
      //-   a.time(ng-if="post.timeElapsed.type  == 's' ") #{__('Just now')}
      //-   a.time(ng-if="post.timeElapsed.type  == 'm' ") {{ post.timeElapsed.val }} #{__('min')}
      //-   a.time(ng-if="post.timeElapsed.type  == 'h' ") {{ post.timeElapsed.val }} #{__('h')}
      //-   a.time(ng-if="post.timeElapsed.type  == 'd' ") {{ post.timeElapsed.val | date:"EEE d MMM '#{__('at')}' H:mm" | capitalize}}
      //-   a(ng-click="likeClick(post)" ng-class="{ selected: post.like }")


    //
    //  Flotante
    //
    //nav#view-menu
      .view-button.first
        #button-config.button
      .view-button
        #button-posts.button.selected
      .view-button.middle
        #button-camera.button(ng-click="askForSuggestedEvents()")
      .view-button
        #button-events.button
      .view-button.last
        #button-search.button
    

  //#test(style='position: fixed; background: #000; color: #FFF; bottom: 50px;') Test

  //
  //  Librería SVG
  //
  svg#svg-library(xmlns='http://www.w3.org/2000/svg')
    symbol#logo-icon-svg(viewBox='0 0 67 90')
      polygon(fill='#FF0055' points='44.538,0 22.269,12.857 22.269,38.571 0,51.429 0,77.143 22.269,90 66.808,64.286 66.808,12.857')


  //
  //  Flotante
  //
  script(type='text/javascript').
    var url = '#{url}'
    var reqType = '#{reqType}'
    var token = '#{token}'
