extends layout

block head
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-touch.js")
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/exif.js")
    script(src="/javascripts/application.js")

block content
  header
  //main#main
  main
    //section#post-list
      p.post(ng-repeat="usuario in usuarios")
        span.amigo-firstName {{ usuario.firstName }} {{ usuario.following }}
        input(type='submit', value='Seguir' ng-click="followRelation(usuario)")
      input(type='submit', value='Followers' ng-click="getFollowers(1)")
      input(type='submit', value='Following' ng-click="getFollowers(2)")
      a.mostrarPostDeSeguidos(href='' ng-click="getMediaByFilter('post', 'following')")
        span.seguidos MostrarPostsDeLasPersonasQueSigues
    //label(for='singleSelect')
    //br
    //select#singleSelect(name='singleSelect', ng-model='data.singleSelect')
      option(value='') ---Please select---
      option(value='en') ingles
      option(value='es') español
    //br
    //button(ng-click='changeLanguage(data.singleSelect)') Cambiar idioma
    #wrapper
      aside#first
        section#fixed-controls
          section#options-side
            section#account-controls
              section#profile.side-block
                h2.profile-name
                  span.profile-firstname #{user.name.givenName}
                  br
                  span.profile-lastname #{user.name.familyName}
                img(src=user.picture)
              //section#user-relation.side-block.viewing-followers
                #relation-tabs
                  #followers-tab.relation-tab(viewing='followers')
                    .people-number {{ user.followers.length }}
                    .follow-type Seguidores
                  #following-tab.relation-tab(viewing='following')
                    .people-number {{ user.following.length }}
                    .follow-type Siguiendo
                #relation-views
                  ul#followers.relation-view
                    li(ng-repeat="follower in user.followers")
                      .user-picture
                        img.picture(ng-src="{{ follower.picture }}")
                      .user-info
                        .user-firstName {{ follower.firstName}}
                        .user-lastName {{ follower.lastName }}
                        .user-followerNumber {{ follower.followersNumber }} 64 #{__('Followers')}
                      .user-relation.like(ng-click="likeClick(post)")
                        object(ng-class="{selected: post.like}")
                          svg(version="1.1" class="like-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve")
                            // fill="#DDD" 
                            path(d="M29.3,15.8l-3.6,2.1l-4.4-2.5c-2.1-1.2-4.7-1.2-6.9,0L13.6,16c-2.2,1.2-3.6,3.6-3.6,6.2v0.5 c0,2.5,1.4,4.9,3.5,6.1L25,35.4l11.5-6.7c2.1-1.3,3.5-3.6,3.5-6.1v-0.8c0-2.4-1.3-4.7-3.3-6l0,0C34.4,14.5,31.6,14.4,29.3,15.8z")#inner

                  ul#following.relation-view
                    li(ng-repeat="followed in user.following")
                      .user-picture
                        img.picture(ng-src="{{ followed.picture }}")
                      .user-info
                        .user-firstName {{ followed.firstName }}
                        .user-lastName {{ followed.lastName }}
                        .user-followerNumber {{ follower.followersNumber }} 64 #{__('Followers')}
                      .user-relation.like(ng-click="likeClick(post)")
                        object(ng-class="{selected: post.like}")
                          svg(version="1.1" class="like-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve")
                            // fill="#DDD" 
                            path(d="M29.3,15.8l-3.6,2.1l-4.4-2.5c-2.1-1.2-4.7-1.2-6.9,0L13.6,16c-2.2,1.2-3.6,3.6-3.6,6.2v0.5 c0,2.5,1.4,4.9,3.5,6.1L25,35.4l11.5-6.7c2.1-1.3,3.5-3.6,3.5-6.1v-0.8c0-2.4-1.3-4.7-3.3-6l0,0C34.4,14.5,31.6,14.4,29.3,15.8z")#inner
                //p.post(ng-repeat="usuario in usuarios")
                  span.amigo-firstName {{ usuario.firstName }} {{ usuario.following }}
                  input(type='submit', value='Seguir' ng-click="followRelation(usuario)")
                //input(type='submit', value='Followers' ng-click="getFollowers(1)")
                //input(type='submit', value='Following' ng-click="getFollowers(2)")
                //a.mostrarPostDeSeguidos(href='' ng-click="getMediaByFilter('post', 'following')")
                //  span.seguidos MostrarPostsDeLasPersonasQueSigues
              //label(for='singleSelect')
              //br
              //select#singleSelect(name='singleSelect', ng-model='data.singleSelect')s
              //  option(value='') ---Please select---
              //  option(value='en') ingles
              //  option(value='es') español
              //br
              //button(ng-click='changeLanguage(data.singleSelect)')
              //section#general-controls.side-block
                .blocked-accounts.account-control
                  a.button(href="")
                    span.bold 3
                    span  #{__('Blocked accounts')}
                .language-change.account-control
                  a.button(href="")
                    span #{__('Language')}
                    span.bold  Español
              //section#account-session.side-block
                .logout.account-control
                  a.button(href="/logout") #{__('Logout')}
          section#events-side
            section#events-controls
              // TODO: Moverlo a header
              // .search-box
              // input(type="text", placeholder="#{__('Search events')}") 
              .promoted
                .event.promoted-event
                  span.at-simbol @
                  span.event-name.promoted-event-name Aura
                  //.event-people.promoted-event-people 1280 #{__('people')}
                  .promoted-title.title #{__('Promoted')}
              .events-list
                //.events-title.title #{__('Trends')}
                .event(ng-repeat="trend in trends | limitTo: limit")
                  a.event-link(href='' ng-click="getMediaByFilter('trend', trend)")
                    span.at-simbol @
                    span.event-name {{ trend.name }}
                  //.event-people {{ trend.count }} #{__('people')}
              //.show-more
                a#load-more(href='#' ng-click="showMoreEvents(limit)") #{__('Show more')}
            footer 
              nav Términos y condiciones | Prensa
              #brand Juaku 2016
      section#view
        #title
          img(src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
          //a(href="/?ref=logo", target="_self")
          a(target="_self" onclick="document.location = '/logout';") 
            h1 #{title}
            svg#logo
              use#logo-icon(xlink:href='#logo-icon-svg')
        //input(type="file" id="media-loader" accept="image/*" onchange="angular.element($('body')).scope().picChange(event)")
        //input(type="file" accept="image/*" capture="camera" onchange="angular.element(this).scope().newPost.image = this.files[0]")
        input(type="file" id="media-loader" accept="image/*" onchange="angular.element($('body')).scope().picChange(event)")
        section#new-post
          canvas(id="new-media-preview")
          #new-post-controls
            #event-name-input.event
              span.at-simbol @
              input.event-name(type="text" id="new-event-name" ng-model="newPost.eventName" placeholder="#{__('Event')}")
            #share-new-post
              a#share-fb.share(href="" ng-click="shareOnFb()")
                object
                  svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve")
                    path(id="change-color" fill="#3B5998"  d="M22.675,24C23.407,24,24,23.407,24,22.675V1.325C24,0.593,23.407,0,22.675,0H1.325C0.593,0,0,0.593,0,1.325v21.351C0,23.407,0.593,24,1.325,24H22.675z")
                    path(id="f" fill="#FFFFFF" d="M16.56,24v-9.294h3.12l0.467-3.622H16.56V8.771c0-1.049,0.291-1.763,1.795-1.763l1.918-0.001v-3.24c-0.332-0.044-1.47-0.1439-2.75-0.143c-2.765,0-4.659,1.688-4.659,4.788v2.671H9.692v3.622h3.128V24H16.56z")
            a#send-post(href="" ng-click="sendNewPost()") #{__('Send')}
          #suggested-events
            ul
              li.suggested-event.event(ng-repeat="suggestedEvent in suggestedEvents")
                a.event-link(href="" ng-click="newPost.eventName = suggestedEvent.name")
                  span.at-simbol @
                  span.event-name {{ suggestedEvent.name }}
          //#positionMap
          //  img(src="")
          #load-media-again
          #cancel-post
        section#post-list
          .post(ng-repeat="post in posts" last-post-loaded)
            .media
              .preloader
              img(src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
              img(ng-src='./uploads/'+'{{ post.media }}' class='{{ post.class }}' image-on-load).media
            .bottom
              .info
                .info-wrapper
                  .author-img
                    img(ng-src='{{ post.author.picture }}')
                  .post-detail
                    .post-title
                      span.author-name
                        a.author-color-code(href='')
                        a.author-color-circle(href='')
                        a.author-firstName(href='' ng-click="getMediaByFilter('author', post)") {{ post.author.firstName }}
                        span.author-lastName  {{ post.author.lastName }}
                      a.event-posted.event(href='' ng-if="post.event" ng-click="getMediaByFilter('tag', post)")
                        span.at-simbol @
                        span.event-name {{ post.event }}
                      //a.reportPost(href='' ng-click="report(post)")
                        span.report ReportarPost
                      //a.reportPost(href='' ng-click="getReportCount(post)")
                        span.report getReportCount
                      //a.shareOnFb(href='' ng-click="share(post)")
                        span.share compartirEnfB
                      //.enviarUbicacion
                        a#enviar(href='' ng-click="askLocation(post.id)") #{__('Pedir ubicación')}
                    .sub-info
                      .time(ng-if="post.timeElapsed.type  == 's' ") #{__('Just now')}
                      .time(ng-if="post.timeElapsed.type  == 'm' ") {{ post.timeElapsed.val }} #{__('min')}
                      .time(ng-if="post.timeElapsed.type  == 'h' ") {{ post.timeElapsed.val }} #{__('h')}
                      .time(ng-if="post.timeElapsed.type  == 'd' ") {{ post.timeElapsed.val | date:"EEE d MMM '#{__('at')}' H:mm" | capitalize}}
              .like(ng-click="likeClick(post)" ng-class="{ selected: post.like }")
                .like-point
  nav#view-menu
    .view-button.first
      #button-config.button
    .view-button
      #button-posts.button.selected
    .view-button.middle
      #button-camera.button(ng-click="askForSuggestedEvents()")
    .view-button
      #button-events.button
    .view-button.last
      #button-search.button
  svg#svg-library(xmlns='http://www.w3.org/2000/svg')
    symbol#logo-icon-svg(viewBox='0 0 67 90')
      polygon(fill='#FF0055' points='44.538,0 22.269,12.857 22.269,38.571 0,51.429 0,77.143 22.269,90 66.808,64.286 66.808,12.857')
  script(type='text/javascript').
    var url = '#{url}'
    var reqType = '#{reqType}'
