extends layout

block content
  header
    #title
      a(href="/?ref=logo", target="_self")
        h1 #{title}
  main
    aside#controls
      section#profile
        img(src=user.profilePicture)
        h2.profile-name
          span.profile-firstname #{user.firstName}
          br
          span.profile-lastname #{user.lastName}
      section#friends
        .friend #{__('Friend activity')}
    section#view
      section#view-controls
      section#list
        .post
          .media
            img
          .info
            .author-media
              img(src=user.profilePicture)
            .post-data
              .author-name.pri Rodrigo Yrigoyen Gonzales
              .time.sub #{__('At')} 14:51 p.m.
            .event-data
              .event-name.pri @Kaos
              .friends.sub 24 #{__('friends')}
        .post
          .media
            img
          .info
            .author-media
              img(src=user.profilePicture)
            .post-data
              .author-name.pri Rodrigo Yrigoyen Gonzales
              .time.sub A las 14:51 p.m.
            .event-data
              .event-name.pri @Kaos
              .friends.sub 24 amigos
        .post
          .media
            img
          .info
            .author-media
              img(src=user.profilePicture)
            .post-data
              .author-name.pri Rodrigo Yrigoyen Gonzales
              .time.sub A las 14:51 p.m.
            .event-data
              .event-name.pri @Kaos
              .friends.sub 24 amigos
        .post
          .media
            img
          .info
            .author-media
              img(src=user.profilePicture)
            .post-data
              .author-name.pri Rodrigo Yrigoyen Gonzales
              .time.sub A las 14:51 p.m.
            .event-data
              .event-name.pri @Kaos
              .friends.sub 24 amigos
        .post
          .media
            img
          .info
            .author-media
              img(src=user.profilePicture)
            .post-data
              .author-name.pri Rodrigo Yrigoyen Gonzales
              .time.sub A las 14:51 p.m.
            .event-data
              .event-name.pri @Kaos
              .friends.sub 24 amigos
        .post
          .media
            img
          .info
            .author-media
              img(src=user.profilePicture)
            .post-data
              .author-name.pri Rodrigo Yrigoyen Gonzales
              .time.sub A las 14:51 p.m.
            .event-data
              .event-name.pri @Kaos
              .friends.sub 24 amigos
        .post
          .media
            img
          .info
            .author-media
              img(src=user.profilePicture)
            .post-data
              .author-name.pri Rodrigo Yrigoyen Gonzales
              .time.sub A las 14:51 p.m.
            .event-data
              .event-name.pri @Kaos
              .friends.sub 24 amigos
    aside#events
      section#events-controls
        .search-box
          input(type="text", placeholder="#{__('Search events')}") 
        .promoted
          .promoted-title #{__('Promoted')}
          .event.promoted-event
            .event-name.promoted-event-name @Aura
            .event-people.promoted-event-people 1280 #{__('people')}
          .event.promoted-event
            .event-name.promoted-event-name @Aura
            .event-people.promoted-event-people 1280 #{__('people')}
        .events-list
          .event
            .event-name @Kaos
            .event-people 1920 #{__('people')}
          .event
            .event-name.small @JardinDeLaCervezaArequipeña
            .event-people 1280 #{__('people')}
          .event
            .event-name @Manutara
            .event-people 1024 #{__('people')}
        .show-more #{__('Show more')}
      footer 
        nav Términos y condiciones · Más
        #brand Juaku © 2014
  section#float-footer
    #main-controls
      .button.hot #{__('Hot')}
      .button.control-switch
        .knob
      .button.recent #{__('Recent')}
      #camera
  section#newPost
      #newPostWrapper
        #newPostControlls
          //input(type="file" accept="image/*" capture="camera" onchange="angular.element(this).scope().newPost.image = this.files[0]")
          input(type="file" id="mediaLoader" accept="image/*" onchange="picChange(event)")
          canvas(id="newMediaPreview")
          #recomendedEvents
            ul
              li @Aura
              li @Kaos
              li @Help
          #createNewEvent
            input(type="text" id="newEventName")
          #loadMediaAgain
          #cancelPost
          #sendPost(ng-click="send()")


