extends layout

block content
  header
   #main-area
      #title
        a(href="/?ref=logo", target="_self")
          h1 #{title}
      #search-box
        input(type="text", placeholder="#{__('Search events')}")
    navigation
      ul
        li #{__('All events')}
        li #{__('My events')}
        li #{__('Event map')}
