extends layout

block head
  body

block content
  header
  #box
    aside#side
      //
      // Side controls
      //
      section#view-controls
        #back(v-on:click="back")
        input(type="text" size="1" v-model="route" placeholder="#{__('Juaku')}" v-on:change="router(route)")#title
        #more(v-on:click="more")
          i.more-back
            i.more-icon
      section#account(v-if="user")
        a.user-link
          img(:src="user.picture").user-picture
        .user-userName {{user.name.hexCode}}.{{user.name.givenName}}
        .user-displayName {{user.name.familyName}}
      section#account(v-else)
        a.pop-up(href='/auth/facebook')#FB #{__('Continue with Facebook')}
        //section#events-side
          section#events-controls
            .promoted
              .event.promoted-event
                span.at-simbol @
                span.event-name.promoted-event-name Aura
                //.event-people.promoted-event-people 1280 #{__('people')}
                .promoted-title.title #{__('Promoted')}
            .events-list
              //.events-title.title #{__('Trends')}
              .event(ng-repeat="trend in trends | limitTo: limit")
                a.event-link(href='')
                  span.at-simbol @
                  span.event-name Trend
                //.event-people {{ trend.count }} #{__('people')}
            //.show-more
              a#load-more(href='#' ng-click="showMoreEvents(limit)") #{__('Show more')}
      section#account-controls
        a(href="/logout" v-on:click.stop.prevent="logout") #{__('Logout')}
      footer
        a#brand-url juaku.com
        nav Términos y condiciones | Prensa
        #brand Juaku 2017
    #up(v-on:click="up")
    main(v-on:scroll="scroll")
      section#start(v-on:click="changeTheme($event)")
        a#logo-link(href="/" v-on:click.prevent)
          h1 Juaku
          svg#logo
            use#logo-icon(xlink:href="#logo-icon-svg" v-on:click="reload")
      //
      // New Post
      //
      //input.needsclick(type="file" id="media-loader" accept="image/*" v-on:change="setNewMedia($event)")
      #newSendPost
      section#post-preview.post
        .view
          //.preloader-animation
          canvas.media(v-on:click="assistedScroll")
        #post-preview-controls.info.post-info
          .author-picture(v-if="user")
            img(:src="user.picture").user-picture
          #post-name-input.post-info
            label.at-simbol(for="new-tag") @
            input.post-tag(type="text" id="new-tag" v-model="newPost.tag" placeholder="#{__('tag')}")
            //
            // Share on Facebook
            //
            #share
              a#share-fb.share-icon(v-bind:class="{ share: newPost.shareOnFb }" href="#" v-on:click="shareOnFb" v-on:click.prevent)
                object
                  svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve")
                    path(id="back" fill="#888888"  d="M22.675,24C23.407,24,24,23.407,24,22.675V1.325C24,0.593,23.407,0,22.675,0H1.325C0.593,0,0,0.593,0,1.325v21.351C0,23.407,0.593,24,1.325,24H22.675z")
                    path(id="f" fill="#FFFFFF" d="M16.56,24v-9.294h3.12l0.467-3.622H16.56V8.771c0-1.049,0.291-1.763,1.795-1.763l1.918-0.001v-3.24c-0.332-0.044-1.47-0.1439-2.75-0.143c-2.765,0-4.659,1.688-4.659,4.788v2.671H9.692v3.622h3.128V24H16.56z")
          a#send-post(href="" v-on:click="sendNewPost($event)") #{__('Send')}
      //
      // Post
      //
      article( v-bind:class="{ tools: post.tools }" v-for="post in posts").post
        .view(v-bind:class="post.class" v-on:click="assistedScroll")
          .preloader-animation
          img.media(:src="post.media" v-on:load="loaded(post)")
          .post-tools
            ul
              li
                a(ng-if="post.edittable" ng-click="fn(post)").save
                  span #{__('save')}
                  svg.icon
              li
                a(ng-if="post.edittable" ng-click="fn(post)").share
                  span #{__('share')}
                  svg.icon
              li
                a(ng-if="post.edittable" ng-click="fn(post)").channel
                  span #{__('channel')}
                  svg.icon
              li
                a(ng-if="post.edittable" ng-click="fn(post)").more
                  span #{__('more')}
                  svg.icon
            //button(ng-if="post.edittable" v-show="post.editing" ng-click="modifyTag(post)") #{__('Modificar TAG')}
            //button(ng-if="post.edittable" v-show="post.editing" ng-click="updateTag(post)") #{__('Actualizar TAG')}
        .info
          .author-picture
            img(:src="post.author.picture")
          .post-info
            h3.post-title
              span(v-on:click="router(post.author.hexCode + '.' + post.author.firstName + '@' + post.tag, $event)" v-bind:style="[post.author.hexCode ? { backgroundColor: '#' + post.author.hexCode } : '' ]").author-hex-code
              a.author-name-link(href="" v-on:click="router(post.author.hexCode + '.' + post.author.firstName, $event)")
                span.author-name {{ post.author.originalFirstName }}
              a.post-tag-link(href='' v-on:click="router('@' + post.tag, $event)")
                span.at(v-show="post.tag") @
                span(v-show="!post.editing" ng-model="newTag") {{post.originalTag}}
              span(v-show="post.editing")
                input.event-name(type="text", ng-model="post.tag")
            time.post-time(v-bind:datetime="post.time") {{ post.timeFromNow }}
          .save-button(v-show="post.saved!=undefined")
            a(v-on:click="togglePostTools(post)" v-bind:class="{ saved: post.saved }").save-post-link
              img(src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==').save
      section#end
        #endMessage(v-if="route") #{__('Llegaste al final de ')} {{ route }}
        #endMessage(v-else) #{__('Llegaste al final')} {{ route }}
    #take.needsclick(v-on:click="take", v-if="user")
  //
  //  Librería SVG
  //
  svg#svg-library(xmlns='http://www.w3.org/2000/svg')
    symbol#logo-icon-svg(viewBox='0 0 67 90')
      polygon(fill='#FF0055' points='44.538,0 22.269,12.857 22.269,38.571 0,51.429 0,77.143 22.269,90 66.808,64.286 66.808,12.857')

  //
  //  Flotante
  //
  script(type='text/javascript').
    var user = !{user} //si esta vacía lo iguala a undefined
    user = user?user:null
    var url = '#{url}'
    var reqType = '#{reqType}'
    var token = '#{token}'
    var locale = '#{locale}'
    if(user && token && locale) {
      localStorage.setItem('user', JSON.stringify(user));
      localStorage.setItem('token', token);
      localStorage.setItem('locale', locale);
    }
  script(type='text/javascript', charset='utf-8', src='cordova.js')
  script(src="/javascripts/application.js")
