
extends layout

block append head
  script.
    $(document).ready(function() {
      function popupwindow(url, title, w, h) {
        wLeft = window.screenLeft ? window.screenLeft : window.screenX;
        wTop = window.screenTop ? window.screenTop : window.screenY;
        var left = wLeft + (window.innerWidth / 2) - (w / 2);
        var top = wTop + (window.innerHeight / 2) - (h / 2);
        return window.open(url, title, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);
      }
      $('.pop-up').click(function(event) {
        if(!( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) )) {
          event.preventDefault();
          url = $(this).attr('href');
          popupwindow(url, 'Acceso Juaku', 530, 300);
          return false;
        } else {
         event.preventDefault();
         document.location = $(this).attr('href');
        }
      });
    });

block content
  main#start
    section#access
      section#logo
        h1 #{title}
      section#methods
        a.pop-up(href='/auth/facebook')#FB #{__('Continue with Facebook')}
